.Black {
  background-color: black;
}
.Gray{
  background-color: #686664;
}
.Orange{
  background-color: #ee4e01;
}
.DOrange{
  background-color: #ec3900;
}
.color-bars {
  display: flex;
  flex-direction: column;
  width: 80px; /* Adjust as needed to reach under the logo */
  height: 100%;
}
.color-bars > div {
  margin: 0;
  padding: 0;
}